<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="/game-warrior-gh-pages/img/slider-2.jpg">
			<div class="hs-text">
				<div class="container">
					<h2>Oyunlarla İlgili <span>Her Şey</span> Burada</h2>
					<p>İstediğiniz oyunun incelemesine ulaşabilirsiniz. <br> Haberler sekmesinden son gelişmeleri öğrenebilirsiniz.</p>
				</div>
			</div>
		</div>
	</div>
</section>