@model UpdateReviewDto
@{
    ViewData["Title"] = "İnceleme Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form id="updateReviewForm" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ReviewId" />

    <!-- Mevcut Ana Resim -->
    <label>Mevcut Ana Resim</label>
    <img src="@Model.TopImage" alt="Top Image" style="max-width: 200px;" />
    <br />
    <label>Ana Resim Yükle</label>
    <input type="file" asp-for="TopImageFile" class="form-control" />
    <span asp-validation-for="TopImageFile" class="text-danger"></span>
    <br />
    <!-- Mevcut Oyun Resim -->
    <label>Mevcut Oyun Resim</label>
    <img src="@Model.GameImage" alt="Game Image" style="max-width: 200px;" />
    <br />
    <label>Oyun Resim Yükle</label>
    <input type="file" asp-for="GameImageFile" class="form-control" />
    <span asp-validation-for="GameImageFile" class="text-danger"></span>
    <br />
    <label>Oyun Adı</label>
    <input type="text" asp-for="GameName" class="form-control" />
    <span asp-validation-for="GameName" class="text-danger"></span>
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Üst Başlık</label>
    <input type="text" asp-for="Subtitle" class="form-control" />
    <span asp-validation-for="Subtitle" class="text-danger"></span>
    <br />
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label>Puan</label>
    <input type="text" asp-for="Rating" class="form-control" />
    <span asp-validation-for="Rating" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-outline-dark">Güncelle</button>
</form>

<script>
    document.getElementById('updateReviewForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Formun hemen submit edilmesini engeller

        var form = this;

        Swal.fire({
            title: 'İnceleme Güncelleme',
            text: "Bu incelemeyi güncellemek istediğinize emin misiniz?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, güncelle!',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Onaylanmışsa formu gönder
                form.submit();
            }
        })
    });
</script>