/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*.dark-mode {
    background-color: #121212;*/ /* Koyu arka plan */
    /*color: #ffffff;*/ /* Beyaz metin */
/*}

    .dark-mode .recent-game-section {
        background-color: #333;*/ /* Koyu mod arka plan rengi */
    /*}

    .dark-mode .rgi-content h5,
    .dark-mode .rgi-content p {
        color: #fff;*/ /* Koyu modda metin rengi beyaz */
    /*}*/


