<section class="footer-top-section">
    <div class="container">
        @* <div class="footer-top-bg">
            <img src="~/game-warrior-gh-pages/img/footer-top-bg.png" alt="">
        </div> *@
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo text-white">
                    <img src="~/game-warrior-gh-pages/img/footer-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                </div>
            </div>
        </div>
    </div>
</section>